<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="filename" value="C:\Users\kleno\OneDrive\Desktop\Desktop\Work\TestPDF"/>
		<add key="interval" value="18000"/>
	</appSettings>
</configuration>